
<div class="bg-indigo-50">
  <div
    class="xl:px-20 md:px-10 sm:px-6 px-4 md:py-12 py-9 2xl:mx-auto 2xl:container md:flex items-center justify-center"
  >
    <div class="md:hidden sm:mb-8 mb-6">
      <img
        src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in_2-svg1.svg"
        alt="logo"
      />
    </div>
    <div
      class="bg-white shadow-lg rounded xl:w-1/3 lg:w-5/12 md:w-1/2 w-full lg:px-10 sm:px-6 sm:py-10 px-2 py-6"
    >
      <p
        tabindex="0"
        class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800"
      >
        Get your own account
      </p>
      <p
        tabindex="0"
        class="focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500"
      >
        Already have an account?
        <a
          href="javascript:void(0)"
          routerLink="/signin"
          class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none text-gray-800 cursor-pointer"
        >
          Sign in here</a
        >
      </p>
      <button
        aria-label="Continue with google"
        role="button"
        class="focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 p-3 border rounded-lg border-gray-700 flex items-center w-full mt-10 hover:bg-gray-100"
        (click)="authService.GoogleAuth()"
      >
        <img
          src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in_2-svg2.svg"
          alt="google"
        />
        <p class="text-base font-medium ml-4 text-gray-700">
          Continue with Google
        </p>
      </button>
      <div class="w-full flex items-center justify-between py-5">
        <hr class="w-full bg-gray-400" />
        <p class="text-base font-medium leading-4 px-2.5 text-gray-500">OR</p>
        <hr class="w-full bg-gray-400" />
      </div>
      <form [formGroup]="formdata" (ngSubmit)="onSubmit()" novalidate>
                <label
          for="email"
          class="text-sm font-medium leading-none text-gray-800"
        >
          Email
        </label>
        <input
          id="email"
          aria-labelledby="email"
          type="email"
          class="bg-gray-200 border rounded text-xs font-medium leading-none placeholder-gray-800 text-gray-800 py-3 w-full pl-3 mt-2"
          placeholder="e.g: john@gmail.com "
          formControlName="email"
          [(ngModel)]="formdata.email"
          required
        />
        <div
        *ngIf="f['email'].touched && f['email'].invalid"
        class="alert alert-danger"
      >
        <div
          *ngIf="f['email'].errors && f['email'].errors['required']"
        >
          <span class="text-xs text-red-700" id="emailHelp"
            >Email is required.</span
          >
        </div>
        <div *ngIf="f['email'].errors && f['email'].errors['email']">
          <span class="text-xs text-red-700" id="emailHelp"
            >Email must be a valid email address.</span
          >
        </div>
      </div>
      <div class="formGroup mt-6 w-full">
        <label
          for="myInput"
          class="text-sm font-medium leading-none text-gray-800"
        >
          Password
        </label>
        <div class="relative flex items-center justify-center">
          <input
            id="myInput"
            type="password"
            class="bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
            formControlName="password"
            [(ngModel)]="formdata.password"
          />
          
          <div
            class="absolute right-0 mt-2 mr-3 cursor-pointer"
            (click)="clickEvent()"
          >
            <div id="show">
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in_2-svg5.svg"
                alt="eye"
              />
            </div>
            <div id="hide" class="hidden">
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in_2-svg6.svg"
                alt="eye"
              />
            </div>
          </div>
        </div>
        <div
        *ngIf="f['password'].touched && f['password'].invalid"
        class="alert alert-danger"
      >
        <div
          *ngIf="
            f['password'].errors?.['required']
          "
        >
          <span class="text-xs text-red-700" id="passwordHelp"
            >Password is required.</span
          >
        </div>
        <div
          *ngIf="
            f['password'].errors?.['minlength']
          "
        >
          <span class="text-xs text-red-700" id="passwordHelp"
            >Your password must be at least 6 characters long.</span
          >
        </div>
      </div>
      </div>
      <div class="formGroup mt-6 w-full">
        <label
          for="confirm_password"
          class="text-sm font-medium leading-none text-gray-800"
        >
          Confirm Password
        </label>
        <div class="relative flex items-center justify-center">
          <input
            id="confirm_password"
            type="password"
            class="bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
            formControlName="confirm_password"
            required
          />
          <div
          *ngIf="
            f['confirm_password'].touched && f['confirm_password'].invalid
          "
          class="alert alert-danger"
        >
          <div
            *ngIf="
              f['confirm_password'].errors?.['required'] 
            "
          >
            Password is required
          </div>
          <div
            *ngIf="
              f['confirm_password'].errors?.['passMatch'] 
            "
          >
            Password must match
          </div>
        </div>
          <div
            class="absolute right-0 mt-2 mr-3 cursor-pointer"
            (click)="clickEvent()"
          >
            <div id="show">
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in_2-svg5.svg"
                alt="eye"
              />
            </div>
            <div id="hide" class="hidden">
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in_2-svg6.svg"
                alt="eye"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="formGroup mt-8">
        <div *ngIf = "formdata.valid" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-6" role="alert">
          <strong class="font-bold text-center">All Good Now</strong><br>
          <span class="block sm:inline text-center">Click on Submit and let the magic happen</span>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
          </span>
        </div>
        <button
        type="submit"
         [disabled]="!formdata.valid"
          class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full"
        >
          Create a new account
        </button>
      </div>
      </form>
    </div>
    <div class="xl:w-1/3 md:w-1/2 lg:ml-16 ml-8 md:mt-0 mt-6">
      <div class="pl-8 md:block hidden">
        <img
          src="../../../assets/img/logo.svg"
          alt="logo"
        />
      </div>
      <div class="flex items-start mt-8">
        <div>
          <img
            class="w-24"
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in_2-svg7.svg"
            alt="quote"
          />
        </div>
        <p class="sm:text-2xl text-xl leading-7 text-gray-600 pl-2.5">
         The First Personalized , Open Source Fitness Tracking Application .Verified Information collected from all over the internet all at one place at your disposal , absolutely free . Become the beast you were born to be !
        </p>
      </div>
      <div class="flex items-center pl-8 mt-10">
        <div class="w-8 h-8">
          <img src="../../../assets/img/diwakar.jpeg" alt="profile picture" class="rounded-full w-full h-full" />
        </div>
        <div class="ml-2">
          <p class="text-sm font-medium leading-none text-gray-800">
            Diwakar Adhikari
          </p>
          <p
            class="text-sm font-medium leading-none text-gray-600 mt-1 cursor-pointer hover:underline"
          >
            See profile
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
